<div class="container has-text-centered">
  <img src="assets/photo.jpg" width="500">

  <nav class=" level">
    <p class="level-item has-text-centered">
      <a class="link is-info">Home</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">自己紹介</a>
    </p>
    <h1 class="level-item has-text-centered">Rainiero Navarro</h1>
    <p class="level-item has-text-centered">
      <a class="link is-info">スキル</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">お問い合わせ</a>
    </p>
  </nav>
</div>