<section class="hero is-fullheight-with-navbar has-background is-hidden-mobile">
  <div class="hero-background">
    <img class="hero-background-image" src="assets/photo.jpg">
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        Ray Navarro
      </h1>
      <h2 class="subtitle has-text-white">
        Web Engineer
      </h2>
    </div>
  </div>
</section>
<section class="hero has-background is-hidden-tablet">
  <div class="hero-background">
    <img class="hero-background-image" src="assets/photo.jpg">
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        Ray Navarro
      </h1>
      <h2 class="subtitle has-text-white">
        Web Engineer
      </h2>
    </div>
  </div>
</section>


<div class="container is-fluid has-text-centered">
  <section class="section">
    <div class="container">
      <h1 class="title">profile</h1>
    </div>
  </section>

  <p>2017年にエイチームに新卒で入社、以後エイチーム引越し侍で、<br>
    エンジニアとして、主にバックエンドの開発に従事。<br>
    営業、マーケティング、コールセンターの業務システムからweb開発まで、幅広く経験。<br>
    開発以外には、新卒&中途採用活動、勉強会の運営、チームマネジメントを経験。<br>
  </p>

  <section class="section">
    <div class="container">
      <h1 class="title">skill</h1>
    </div>
  </section>
  <div class="columns">
    <div class="column">
      <app-skill-card [title]="'バックエンド'" [rows]="backendRows"></app-skill-card>
    </div>
    <div class="column">
      <app-skill-card [title]="'フロントエンド'" [rows]="frontendRows"></app-skill-card>
    </div>
    <div class="column">
      <app-skill-card [title]="'インフラ'" [rows]="infraRows"></app-skill-card>
    </div>
    <div class="column">
      <app-skill-card [title]="'その他'" [rows]="otherRows"></app-skill-card>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <h1 class="title">works</h1>
    </div>
  </section>

  <app-work-card [works]='works1'></app-work-card>
  <app-work-card [works]='works2'></app-work-card>
  <app-work-card [works]='works3'></app-work-card>
  <app-work-card [works]='works4'></app-work-card>

  <section class="section">
    <div class="container">
      <h1 class="title">contact</h1>
    </div>
  </section>
  <a href="mailto:nraavy@gmail.com">nraavy@gmail.com</a><br>
  技術ブログ:
  <a href="https://rainiero.tech" target="_blank">rainiero.tech</a><br>
  <a href="https://twitter.com/rainiero_it" target="_blank">twitter アカウント</a><br>
  <a href="https://qiita.com/nrainiero" target="_blank">qiita アカウント</a><br>
  <a href="https://github.com/rayyyy/" target="_blank">github アカウント</a><br>
</div>